<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">HABILIDADES</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item active">

           <a class="nav-link"  (click)="onOpenModal(null!, 'add')">
            Agregar Habilidades <span class="sr-only">(current)</span></a>
        </li>
     </ul> -->
  </div>
</nav>

<div class="contenido">
  <h6>HTML</h6>
  <div class="progress">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div><br>

  <h6>CSS</h6>
  <div class="progress">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div><br>

  <h6>JAVASCRIP</h6>
  <div class="progress">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
  </div><br>

  <h6>JAVA</h6>
  <div class="progress">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
  </div><br>

