<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="100"
      [radius]="70"
      [showUnits]="false"
      [title]="'HTML'"
      [titleColor]="'#FFFFFF'"
      [titleFontSize]="'1em'"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#B0CAC7'"
      [innerStrokeColor]="'#B0CAC7'"
      [animation]="false"
      [animationDuration]="600"


      ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="100"
          [radius]="70"
          [showUnits]="false"
          [title]="'CSS'"
          [titleColor]="'#FFFFFF'"
          [titleFontSize]="'1em'"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#B0CAC7'"
          [innerStrokeColor]="'#B0CAC7'"
          [animation]="false"
          [animationDuration]="600"
      ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="100"
          [radius]="70"
          [showUnits]="false"
          [title]="'JAVA SCRIPT'"
          [titleColor]="'#FFFFFF'"
          [titleFontSize]="'1em'"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#B0CAC7'"
          [innerStrokeColor]="'#B0CAC7'"
          [animation]="false"
          [animationDuration]="600"
      ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="100"
          [radius]="70"
          [showUnits]="false"
          [title]="'MYSQL'"
          [titleColor]="'#FFFFFF'"
          [titleFontSize]="'1em'"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#B0CAC7'"
          [innerStrokeColor]="'#B0CAC7'"
          [animation]="false"
          [animationDuration]="600"
      ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
          [percent]="100"
          [radius]="70"
          [showUnits]="false"
          [title]="'JAVA'"
          [titleColor]="'#FFFFFF'"
          [titleFontSize]="'1em'"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#B0CAC7'"
          [innerStrokeColor]="'#B0CAC7'"
          [animation]="false"
          [animationDuration]="600"
      ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="100"
        [radius]="70"
        [showUnits]="false"
        [title]="'GITHUB'"
        [titleColor]="'#FFFFFF'"
        [titleFontSize]="'1em'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#B0CAC7'"
        [innerStrokeColor]="'#B0CAC7'"
        [animation]="false"
        [animationDuration]="600"
    ></circle-progress>

</div>
