<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/foto vero2.png" class="img-fluid" id="fotodeperfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
      <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
          <h1>Sobre de mí</h1>
          <p>ME LLAMO VERONICA, TENGO 33 AÑOS, TRABAJE 9 AÑOS EN UN CALL CENTER, ESTUDIE DOS AÑOS DE COMUNICACION SOCIAL.
            ACTUALMENTE TENGO MI PROPIO EMPRENDIMIENTO DE SUBLIMACION POR LO QUE ME HE CAPACITADO EN EL AREA DE DISEÑO GRAFICO,
            MANEJO DE REDES, MARKETIN Y PUBLICIDAD, ME CONSIDERO AUTODIDACTA, TRATO DE APRENDER CADA DIA UN POCO MAS.
            EN ESTE MOMENTO MI CAPACITACION ESTA DIRIGIDA AL AREA DE PROGRAMACION.</p>
      </span>
  </div>
</div>
