@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
.contenido {
  font-size: 20px;
  width: 100%;
  height: auto;
  padding: 40px;
  background-color: #f4d58d;
}
h5 {
  font-family: 'Abril Fatface', cursive;
}
a {
  color: #707070;
}
