<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li><h1>TRABAJO 1</h1> -
      <h3>(years)</h3></li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam perferendis sapiente obcaecati cumque. Voluptates voluptatibus laudantium fuga dignissimos magni. Ullam optio numquam veritatis tenetur tempore quisquam error similique nostrum laboriosam?</p>
    </ul>

    <ul>
      <li><h1>TRABAJO 2</h1> -
      <h3>(years)</h3></li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam perferendis sapiente obcaecati cumque. Voluptates voluptatibus laudantium fuga dignissimos magni. Ullam optio numquam veritatis tenetur tempore quisquam error similique nostrum laboriosam?</p>
    </ul>

    <ul>
      <li><h1>TRABAJO 3</h1> -
      <h3>(years)</h3></li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam perferendis sapiente obcaecati cumque. Voluptates voluptatibus laudantium fuga dignissimos magni. Ullam optio numquam veritatis tenetur tempore quisquam error similique nostrum laboriosam?</p>
    </ul>

  </div>

</div>
