* {
  padding:1px 1px 2px 10px;

  background-color: #005086;
  color:  #FFFFFF;
}

.row{
  padding: 40px;

}
.botones_contenido {
  border: none;
  background: none;
  padding: 2px;
}

.boton_edicion_texto {
  padding: 2px 10px;
  margin-top: 10px;
  background: #f8e6f1;
  color:#f8e6f1;
  border-radius: 5px;
  font-size: 10px;
  border: none;
}
