<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Educacion</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" (click)="onOpenModal(null!, 'add')">Agregar Educacion <span class="sr-only">(current)</span></a>
        </li>
     </ul>

  </div>
</nav>

<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let educacion of educaciones" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="{{educacion?.institucion}}" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{educacion?.especialidad}}</h5>
                        <p class="m-0">{{educacion?.fechainicio}} - {{educacion?.fechafin}}</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal(educacion, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(educacion, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>


<!-- Add Employee Modal -->
<div class="modal fade" id="addEducacionModal" tabindex="-1" role="dialog" aria-labelledby="addEducacionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addEducacionModalLabel">Add Educacion</h5>
          <button type="button" class="cerrar" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddEducacion(addForm)">
          <div class="form-group">
             <label for="institucion">Institucion</label>
             <input type="text" ngModel name="institucion" class="form-control" id="institucion" placeholder="Institucion" required>
          </div>
          <div class="form-group">
             <label for="especialidad">especialidad</label>
             <input type="especialidad" ngModel name="especialidad" class="form-control" id="especialidad" placeholder="Especialidad" required>
          </div>
          <div class="form-group">
             <label for="fechainicio">fechainicio</label>
             <input type="text" ngModel name="fechainicio" class="form-control" id="fechainicio" placeholder="Fechainicio" required>
          </div>
          <div class="form-group">
             <label for="phone">fechafin </label>
           <input type="text" ngModel name="fechafin" class="form-control" id="fechafin" placeholder="Fechafin" required>
          </div>
          <div class="modal-footer">
             <button type="button" id="add-educacion-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Guardar cambios</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>

<!-- Edit Modal -->
<div class="modal fade" id="updateEducacionModal" tabindex="-1" role="dialog" aria-labelledby="updateEducacionModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateEducacionModalLabel">Edit Educacion </h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
                <label for="institucion">institucion</label><br>
                <input ngModel="{{editEducacion?.institucion}} " type="text" name="institucion"  class="form-control">
                <label for="especialidad">especialidad</label><br>
                <input ngModel="{{editEducacion?.especialidad}}" type="text" name="especialidad"  class="form-control">
                <label for="fechaInicio">Fecha de Inicio</label><br>
                <input ngModel="{{editEducacion?.fechainicio}}" type="text" name="fechaInicio"  class="form-control">
                <label for="fechafin">Fecha fin</label><br>
                <input ngModel="{{editEducacion?.fechafin}}" type="text" name="fechafin"  class="form-control">
                <input type="hidden" ngModel="{{editEducacion?.id}}" name="id"><br>

                <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateEducacion(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteEducacionModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Educacion</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Esta acción eliminará {{deleteEducacion?.institucion}}?- ¿Desea continuar?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteEducacion(deleteEducacion?.id!)" class="btn btn-danger" data-dismiss="modal">si</button>
           </div>
        </div>
     </div>
  </div>
</div>
</div>


